.product__item {
  border: 1px solid #fde4e4;
  text-align: center;
  padding: 30px;
  padding-bottom: 20px;
  cursor: pointer;
}

.product__img {
  margin-bottom: 20px;
  transition: 0.4s;
  /* background-color: red; */
}

.product__img:hover {
  transform: scale(1.2);
}

.product__content h5 a {
  color: #212245;
  font-size: 0.9rem;
}

.product__content h5 {
  margin-bottom: 30px;
  line-height: 10px;
}

.product__price {
  font-weight: 600;
  font-size: 1.2rem;
  color: #df2020;
}

.addTOCart__btn {
  border: none;
  padding: 7px 10px;
  background: #df2020;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
}
.Cart2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .Cart2 p{
  text-align: start;
} */

.cart4 {
  /* background-color: red; */
  height: 35px;

  margin-bottom: 20px;
}
.cart4 h5 {
  line-height: 20px;
}

@media only screen and (max-width: 992px) {
  .product__content h5 a {
    font-size: 0.8rem;
  }
  .product__item {
    padding: 20px;
  }
  .addTOCart__btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
  .cart4 {
    /* background-color: red; */
    height: 35px;

    margin-bottom: 10px;
  }
  .cart3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .Cart2 {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 356px) {
  .product__content h5 a {
    color: #212245;
    font-size: 0.5rem;
  }
  /* .addTOCart__btn {
    display: block;
    padding: 5px 15px;
    font-size: 0.7rem;
  } */
  /* .Cart1{
    display: block;
  } */
  /* .product__price {
    margin-left: 35px;
  } */

  .cart3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Cart2 {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
}
